			
			table, th, td {
                border: 1px solid orange; text-align:center; margin-left:auto; margin-right:auto  
            }
            h2, h3, h4 {
                text-align:center;
            }